<!DOCTYPE html>
<html>
<head>
	

	<title>Help</title>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="icon" href="/img/weather.png">
</head>
<body>
	<div>
{{>header}}
</div>
<h4 class="msg">{{message}}</h4>
<div class="footer">
{{>footer}}
</div>
</body>
</html>